*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  margin-bottom: 5rem;
  box-shadow: 0 15px 50px rgba(0, 0, 0, .5);border-radius: 4px 4px 20px 20px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5rem;
}

.card ul {
  width: 200px;
  height: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .5);
  margin: 1.1rem 1.1rem 5rem 1.1rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.card ul {
  cursor: pointer;
  transition: .3s;
}

.card ul:hover {

}

.card ul li.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  font-size: .8rem;
  margin-bottom: 10px;
}

.card ul li.flex span {
  font-size: 1rem;
  font-weight: 500;
  
}

.card ul img {
  width: 100px;
  margin-top: -100px;
}
/*    modal    */

.moda-container {
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0;
  animation: modal .5s ease forwards;
}

@keyframes modal {
  from{
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.container {
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 800px;
  width: min(100% - 10px, 800px);
  margin-inline: auto;
  margin: 10px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
  padding: 30px 20px;
  position: relative;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal h2 {
  margin: 0px auto 20px auto;
  
}

.modal .fechar-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 15px;
  border-radius: 5px;
}

.elementos {
  display: grid;
  grid-template-columns: 35% 15% 50%;
  padding: .5rem 0 .5rem 0;
  font-weight: 600;
}

.elementos .porcentagem {
  background-color: gray;
  height: 5px;
  border-radius: 10px;
}

.elementos .porcentagem div {
  height: 100%;
  border-radius: 10px;
  background-color: blue;
}

.elementos li.total {
  color: red;
  font-size: 1.2rem;
}

.elementos .porcentagem div.p-total {
  height: 100%;
  border-radius: 10px;
  background-color: red;
}

